USE [master]
GO
/****** Object:  Database [PROYECTOBR]    Script Date: 7/7/2021 14:39:00 ******/
CREATE DATABASE [PROYECTOBR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTOBR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PROYECTOBR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTOBR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PROYECTOBR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTOBR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTOBR]
GO
/****** Object:  Table [dbo].[AGENCIAS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENCIAS](
	[ID] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[ID_USUARIO] [nvarchar](15) NOT NULL,
	[LOGO] [nvarchar](50) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ORGANIZACIONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANUNCIANTEXPROPIEDAD]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANUNCIANTEXPROPIEDAD](
	[ID_USUARIO] [nvarchar](15) NOT NULL,
	[ID_ANUNCIO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ANUNCIANTEXPROPIEDAD] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_ANUNCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALIFICACIONES]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIFICACIONES](
	[ID_USUARIO] [nvarchar](15) NOT NULL,
	[ID_AGENCIA_AGENTE] [nvarchar](15) NOT NULL,
	[CALIFICACION] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[COMENTARIOS] [nvarchar](500) NULL,
 CONSTRAINT [PK_CALIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_AGENCIA_AGENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARACTERISTICAS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARACTERISTICAS](
	[ID] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[CANTIDAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CARACTERISTICAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARACTERISTICASXPROPIEDAD]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARACTERISTICASXPROPIEDAD](
	[IDPROPIEDAD] [nvarchar](50) NOT NULL,
	[IDCARACTERISTICA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CARACTERISTICASXPROPIEDAD] PRIMARY KEY CLUSTERED 
(
	[IDPROPIEDAD] ASC,
	[IDCARACTERISTICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITAS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITAS](
	[ID] [nvarchar](20) NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[TIPO] [nvarchar](20) NOT NULL,
	[ID_USUARIO] [nvarchar](15) NOT NULL,
	[QR] [nvarchar](200) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CITAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITAXPROPIEDAD]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITAXPROPIEDAD](
	[ID_CITA] [nvarchar](20) NOT NULL,
	[ID_PROPIEDAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CITAXANUNCIO] PRIMARY KEY CLUSTERED 
(
	[ID_CITA] ASC,
	[ID_PROPIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRASENNAS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRASENNAS](
	[ID] [nvarchar](15) NOT NULL,
	[CONTRASENNA] [nvarchar](50) NOT NULL,
	[IDCLIENTE] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CONTRASENNAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTOS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTOS](
	[ID] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[RUTA] [nvarchar](150) NOT NULL,
	[ID_CLIENTE] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Documentos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IDCX_Documentos] UNIQUE NONCLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURASXANUNCIO]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURASXANUNCIO](
	[NUMERO_FACTURA] [nvarchar](50) NOT NULL,
	[ID_CLIENTE] [nvarchar](15) NOT NULL,
	[MONTO] [float] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_ANUNCIO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACTURASXANUNCIO] PRIMARY KEY CLUSTERED 
(
	[NUMERO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURASXSUSCRIPCION]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURASXSUSCRIPCION](
	[NUMERO_FACTURA] [nvarchar](50) NOT NULL,
	[ID_CLIENTE] [nvarchar](15) NOT NULL,
	[MONTO] [float] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_SUSCRIPICION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACTURASXSUSCRIPCIO] PRIMARY KEY CLUSTERED 
(
	[NUMERO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITOS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS](
	[ID_CLIENTE] [nvarchar](15) NOT NULL,
	[ID_PROPIEDAD] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[FECHA_CREACION] [date] NOT NULL,
 CONSTRAINT [PK_FAVORITOS] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_PROPIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOTOS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOTOS](
	[ID] [nvarchar](30) NOT NULL,
	[URL_CLOUDINARY] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FOTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOTOSXPROPIEDAD]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOTOSXPROPIEDAD](
	[ID_FOTO] [nvarchar](30) NOT NULL,
	[ID_PROPIEDAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FOTOS_PROPIEDAD] PRIMARY KEY CLUSTERED 
(
	[ID_FOTO] ASC,
	[ID_PROPIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIALBUSQUEDA]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIALBUSQUEDA](
	[ID_USUARIO] [nvarchar](15) NOT NULL,
	[ID_ANUNCIO] [nvarchar](50) NOT NULL,
	[FECHA_BUSQUEDA] [date] NOT NULL,
 CONSTRAINT [PK_HISTORIALBUSQUEDA] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_ANUNCIO] ASC,
	[FECHA_BUSQUEDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJES]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJES](
	[ID] [nvarchar](20) NOT NULL,
	[DESTINATARIO] [nvarchar](15) NOT NULL,
	[REMITENTE] [nvarchar](15) NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[CONTENIDO] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_MENSAJES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJEXPROPIEDAD]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJEXPROPIEDAD](
	[ID_MSSG] [nvarchar](20) NOT NULL,
	[ID_PROPIEDAD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MENSAJEXANUNCIO] PRIMARY KEY CLUSTERED 
(
	[ID_MSSG] ASC,
	[ID_PROPIEDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODOS_PAGO]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODOS_PAGO](
	[ID] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[URL_PAYPAL] [nvarchar](50) NULL,
	[TELEFONO_SINPE] [nvarchar](50) NULL,
	[ID_CLIENTE] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_METODOS_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPIEDADES]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPIEDADES](
	[ID] [nvarchar](50) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[OPCION_COMPRA] [nvarchar](50) NOT NULL,
	[FECHA_PUBLICACION] [date] NOT NULL,
	[LATITUD] [nvarchar](50) NOT NULL,
	[LONGITUD] [nvarchar](50) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[PROVINCIA] [nvarchar](50) NOT NULL,
	[CANTON] [nvarchar](50) NOT NULL,
	[DISTRITO] [nvarchar](50) NOT NULL,
	[DIRECCION_EXACTA] [nvarchar](200) NOT NULL,
	[DESTACADO] [nvarchar](1) NOT NULL,
	[PROGRAMADO] [nvarchar](1) NOT NULL,
	[VISITAS] [int] NOT NULL,
 CONSTRAINT [PK_PROPIEDADES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPIEDADESXAGENTE]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPIEDADESXAGENTE](
	[ID_AGENTE] [nvarchar](15) NOT NULL,
	[ID_AGENCIA] [nvarchar](15) NOT NULL,
	[ID_ANUNCIO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROPIEDADESXAGENTE] PRIMARY KEY CLUSTERED 
(
	[ID_AGENTE] ASC,
	[ID_ANUNCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [nvarchar](10) NOT NULL,
	[NOMBRE_ROL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCRIPCIONXCLIENTE]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCRIPCIONXCLIENTE](
	[ID_SUSCRIPCION] [nvarchar](50) NOT NULL,
	[ID_CLIENTE] [nvarchar](15) NOT NULL,
	[ID_PAGO] [nvarchar](50) NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SUCRIPCIONXCLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_SUSCRIPCION] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSCRIPCIONES]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRIPCIONES](
	[ID] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[CANTIDAD_ANUNCIOS] [int] NOT NULL,
	[PERIODO_FACTURACION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SUSCRIPCIONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 7/7/2021 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[TIPO_ID] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](15) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[APELLIDOS] [nvarchar](50) NULL,
	[FECHA_NAC] [date] NULL,
	[CONTRASENNA] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[TELEFONO] [int] NOT NULL,
	[COD_EMAIL] [int] NOT NULL,
	[COD_CEL] [int] NOT NULL,
	[IDSUSCRIPCION] [nvarchar](50) NULL,
	[ID_ROL] [nvarchar](10) NOT NULL,
	[ID_AGENCIA] [nvarchar](50) NULL,
	[VERIFICADO] [nvarchar](1) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IDROL_USUARIOS] UNIQUE NONCLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZACIONES_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[AGENCIAS] CHECK CONSTRAINT [FK_ORGANIZACIONES_USUARIOS]
GO
ALTER TABLE [dbo].[ANUNCIANTEXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIANTEXPROPIEDAD_PROPIEDAD1] FOREIGN KEY([ID_ANUNCIO])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[ANUNCIANTEXPROPIEDAD] CHECK CONSTRAINT [FK_ANUNCIANTEXPROPIEDAD_PROPIEDAD1]
GO
ALTER TABLE [dbo].[ANUNCIANTEXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_ANUNCIANTEXPROPIEDAD_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[ANUNCIANTEXPROPIEDAD] CHECK CONSTRAINT [FK_ANUNCIANTEXPROPIEDAD_USUARIO]
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_CALIFICACIONES_CALIFICADO] FOREIGN KEY([ID_AGENCIA_AGENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CALIFICACIONES] CHECK CONSTRAINT [FK_CALIFICACIONES_CALIFICADO]
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_CALIFICACIONES_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CALIFICACIONES] CHECK CONSTRAINT [FK_CALIFICACIONES_USUARIO]
GO
ALTER TABLE [dbo].[CARACTERISTICASXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_CARACTERISTICASXPROPIEDAD_CARACTERISTICA] FOREIGN KEY([IDCARACTERISTICA])
REFERENCES [dbo].[CARACTERISTICAS] ([ID])
GO
ALTER TABLE [dbo].[CARACTERISTICASXPROPIEDAD] CHECK CONSTRAINT [FK_CARACTERISTICASXPROPIEDAD_CARACTERISTICA]
GO
ALTER TABLE [dbo].[CARACTERISTICASXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_CARACTERISTICASXPROPIEDAD_PROPIEDAD] FOREIGN KEY([IDPROPIEDAD])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[CARACTERISTICASXPROPIEDAD] CHECK CONSTRAINT [FK_CARACTERISTICASXPROPIEDAD_PROPIEDAD]
GO
ALTER TABLE [dbo].[CITAS]  WITH CHECK ADD  CONSTRAINT [FK_CITAS_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CITAS] CHECK CONSTRAINT [FK_CITAS_USUARIOS]
GO
ALTER TABLE [dbo].[CITAXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_CITAXPROPIEDAD_CITA] FOREIGN KEY([ID_CITA])
REFERENCES [dbo].[CITAS] ([ID])
GO
ALTER TABLE [dbo].[CITAXPROPIEDAD] CHECK CONSTRAINT [FK_CITAXPROPIEDAD_CITA]
GO
ALTER TABLE [dbo].[CITAXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_CITAXPROPIEDAD_PROPIEDAD] FOREIGN KEY([ID_PROPIEDAD])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[CITAXPROPIEDAD] CHECK CONSTRAINT [FK_CITAXPROPIEDAD_PROPIEDAD]
GO
ALTER TABLE [dbo].[CONTRASENNAS]  WITH CHECK ADD  CONSTRAINT [FK_CONTRASENNAS_USUARIOS] FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CONTRASENNAS] CHECK CONSTRAINT [FK_CONTRASENNAS_USUARIOS]
GO
ALTER TABLE [dbo].[DOCUMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTOS_USUARIOS] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[DOCUMENTOS] CHECK CONSTRAINT [FK_DOCUMENTOS_USUARIOS]
GO
ALTER TABLE [dbo].[FACTURASXANUNCIO]  WITH CHECK ADD  CONSTRAINT [FK_FACTURASXANUNCIO_ANUNCIO] FOREIGN KEY([ID_ANUNCIO])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[FACTURASXANUNCIO] CHECK CONSTRAINT [FK_FACTURASXANUNCIO_ANUNCIO]
GO
ALTER TABLE [dbo].[FACTURASXANUNCIO]  WITH CHECK ADD  CONSTRAINT [FK_FACTURASXANUNCIO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[FACTURASXANUNCIO] CHECK CONSTRAINT [FK_FACTURASXANUNCIO_CLIENTE]
GO
ALTER TABLE [dbo].[FACTURASXSUSCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_FACTURASXSUSCRIPCION_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[FACTURASXSUSCRIPCION] CHECK CONSTRAINT [FK_FACTURASXSUSCRIPCION_CLIENTE]
GO
ALTER TABLE [dbo].[FACTURASXSUSCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_FACTURASXSUSCRIPCION_SUSCRIPCION] FOREIGN KEY([ID_SUSCRIPICION])
REFERENCES [dbo].[SUSCRIPCIONES] ([ID])
GO
ALTER TABLE [dbo].[FACTURASXSUSCRIPCION] CHECK CONSTRAINT [FK_FACTURASXSUSCRIPCION_SUSCRIPCION]
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD  CONSTRAINT [FK_FAVORITOS_PROPIEDAD] FOREIGN KEY([ID_PROPIEDAD])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[FAVORITOS] CHECK CONSTRAINT [FK_FAVORITOS_PROPIEDAD]
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_FAVORITOS] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[FAVORITOS] CHECK CONSTRAINT [FK_USUARIOS_FAVORITOS]
GO
ALTER TABLE [dbo].[FOTOSXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_FOTOS_PROPIEDAD_FOTOS] FOREIGN KEY([ID_FOTO])
REFERENCES [dbo].[FOTOS] ([ID])
GO
ALTER TABLE [dbo].[FOTOSXPROPIEDAD] CHECK CONSTRAINT [FK_FOTOS_PROPIEDAD_FOTOS]
GO
ALTER TABLE [dbo].[FOTOSXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_FOTOS_PROPIEDAD_PROPIEDAD] FOREIGN KEY([ID_PROPIEDAD])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[FOTOSXPROPIEDAD] CHECK CONSTRAINT [FK_FOTOS_PROPIEDAD_PROPIEDAD]
GO
ALTER TABLE [dbo].[HISTORIALBUSQUEDA]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIALBUSQUEDA_PROPIEDAD] FOREIGN KEY([ID_ANUNCIO])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[HISTORIALBUSQUEDA] CHECK CONSTRAINT [FK_HISTORIALBUSQUEDA_PROPIEDAD]
GO
ALTER TABLE [dbo].[HISTORIALBUSQUEDA]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIALBUSQUEDA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[HISTORIALBUSQUEDA] CHECK CONSTRAINT [FK_HISTORIALBUSQUEDA_USUARIO]
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD  CONSTRAINT [FK_MENSAJES_DESTINATARIO] FOREIGN KEY([DESTINATARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MENSAJES] CHECK CONSTRAINT [FK_MENSAJES_DESTINATARIO]
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD  CONSTRAINT [FK_MENSAJES_REMITENTE] FOREIGN KEY([REMITENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[MENSAJES] CHECK CONSTRAINT [FK_MENSAJES_REMITENTE]
GO
ALTER TABLE [dbo].[MENSAJEXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_MENSAJEXANUNCIO_MENSAJE] FOREIGN KEY([ID_MSSG])
REFERENCES [dbo].[MENSAJES] ([ID])
GO
ALTER TABLE [dbo].[MENSAJEXPROPIEDAD] CHECK CONSTRAINT [FK_MENSAJEXANUNCIO_MENSAJE]
GO
ALTER TABLE [dbo].[MENSAJEXPROPIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_MENSAJEXPROPIEDAD_PROPIEDAD] FOREIGN KEY([ID_PROPIEDAD])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[MENSAJEXPROPIEDAD] CHECK CONSTRAINT [FK_MENSAJEXPROPIEDAD_PROPIEDAD]
GO
ALTER TABLE [dbo].[METODOS_PAGO]  WITH CHECK ADD  CONSTRAINT [FK_METODOS_PAGO_USUARIOS] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[METODOS_PAGO] CHECK CONSTRAINT [FK_METODOS_PAGO_USUARIOS]
GO
ALTER TABLE [dbo].[PROPIEDADESXAGENTE]  WITH CHECK ADD  CONSTRAINT [FK_PROPIEDADESXAGENTE_AGENCIA] FOREIGN KEY([ID_AGENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[PROPIEDADESXAGENTE] CHECK CONSTRAINT [FK_PROPIEDADESXAGENTE_AGENCIA]
GO
ALTER TABLE [dbo].[PROPIEDADESXAGENTE]  WITH CHECK ADD  CONSTRAINT [FK_PROPIEDADESXAGENTE_AGENTE] FOREIGN KEY([ID_AGENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[PROPIEDADESXAGENTE] CHECK CONSTRAINT [FK_PROPIEDADESXAGENTE_AGENTE]
GO
ALTER TABLE [dbo].[PROPIEDADESXAGENTE]  WITH CHECK ADD  CONSTRAINT [FK_PROPIEDADESXAGENTE_PROPIEDADES] FOREIGN KEY([ID_ANUNCIO])
REFERENCES [dbo].[PROPIEDADES] ([ID])
GO
ALTER TABLE [dbo].[PROPIEDADESXAGENTE] CHECK CONSTRAINT [FK_PROPIEDADESXAGENTE_PROPIEDADES]
GO
ALTER TABLE [dbo].[ROLES]  WITH CHECK ADD  CONSTRAINT [FK_ROLES_USUSARIOS] FOREIGN KEY([ID])
REFERENCES [dbo].[USUARIOS] ([ID_ROL])
GO
ALTER TABLE [dbo].[ROLES] CHECK CONSTRAINT [FK_ROLES_USUSARIOS]
GO
ALTER TABLE [dbo].[SUCRIPCIONXCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_SUCRIPCIONXCLIENTE_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[SUCRIPCIONXCLIENTE] CHECK CONSTRAINT [FK_SUCRIPCIONXCLIENTE_CLIENTE]
GO
ALTER TABLE [dbo].[SUCRIPCIONXCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_SUCRIPCIONXCLIENTE_PAGO] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[METODOS_PAGO] ([ID])
GO
ALTER TABLE [dbo].[SUCRIPCIONXCLIENTE] CHECK CONSTRAINT [FK_SUCRIPCIONXCLIENTE_PAGO]
GO
ALTER TABLE [dbo].[SUCRIPCIONXCLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_SUCRIPCIONXCLIENTE_SUCRIPCION] FOREIGN KEY([ID_SUSCRIPCION])
REFERENCES [dbo].[SUSCRIPCIONES] ([ID])
GO
ALTER TABLE [dbo].[SUCRIPCIONXCLIENTE] CHECK CONSTRAINT [FK_SUCRIPCIONXCLIENTE_SUCRIPCION]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_AGENCIAS] FOREIGN KEY([ID_AGENCIA])
REFERENCES [dbo].[AGENCIAS] ([ID])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_AGENCIAS]
GO
USE [master]
GO
