@model Entities_POJO.Usuario

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vVerificarUsuario.js"></script>
@{
    ViewBag.Title = "vVerificarUsuario";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<h2>Verificación de Usuario</h2>

<div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
    <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
    <span id="alert_message"></span>
</div>

<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-body">
        <div class="row">
            <p>
                Gracias por registrarse con TechHouse.
            </p>
            <p>
                Por favor ingrese en los campos correspondientes los códigos que recibió a su correo y teléfono celular, para verificar su cuenta en el sistema.
            </p>
            <p>
                Si no verifica su cuenta, no podrá iniciar sesión.
            </p>
        </div>
    </div>
</div>
<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-body">
        <div class="row">
            <h4>Código del correo:</h4>
            @Html.CtrlInput(id: "txtCodEmail", type: "text", label: "", columnDataName: "Cod_Email")
        </div>
    </div>
</div>
<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-body">
        <div class="row">
            <h4>Código del mensaje de texto:</h4>
            @Html.CtrlInput(id: "txtCodCel", type: "text", label: "", columnDataName: "Cod_Celular")
        </div>
    </div>
</div>
<div class="card-header">
    <div class="col-md-4">
        @Html.CtrlButton(viewName: "vVerificarUsuario", id: "btnVerify", label: "Verificar usuario", onClickFunction: "VerifyNew", buttonType: "success")
    </div>
</div>