@{ Layout = null;}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Content/reset.css">
    <link rel="stylesheet" href="../../Content/equipo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>techhouse</title>
    <script src="https://kit.fontawesome.com/e0274567d6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav-container">
        <div class="mainLogo">
            <a href="index.html"></a>
        </div>
        <nav>
            <div id="menu">
                <a href="#proyects">Proyects</a>
                <a href="#aboutUs">About us</a>
                <a href="#contact">Contact</a>
            </div>
        </nav>
    </div>
    <div class="hero-back">
        <div id="hero-container">
            <div id="title">
                <div id="sloganCont">
                    <p class="slogan">Beautifully</p>
                    <p class="slogan">Crafted</p>
                    <p class="slogan">Applications</p>
                </div>
                <h1 id="main">By techhouse</h1>
            </div>
            <img id="heroimage" src="../../Content/imgs/altumcode-U0tBTn8UR8I-unsplash.jpg" alt="A laptop">
        </div>
    </div>
    <section id="proyects">
        <div id="leftProy">
            <p id="sectionname">Featured project</p>
            <p id="subtitle">Real Estate Exchange</p>
            <p id="featDesc">We are currently developing the future application for Real Estate search, which will allow everybody to access properties for rent and for sale from agencies and other users alike.</p>
        </div>
        <div class="FeatImgContainer">
            <img src="../../Content/imgs/pankaj-patel-Ylk5n_nd9dA-unsplash.jpg" alt="Another laptop. This isn't xkcd." class="featImg">
        </div>
    </section>
    <section id="aboutUs">
        <div id="aboutTitle">About Us</div>
        <div id="facts">
            <ul id="factCont">
                <li class="factCard fC1">
                    <i class="fas fa-pencil-ruler"></i>
                    <p class="factTitle">UI/UX Design</p>
                    <p class="factDesc">User interfaces designed with accessibility in mind. Your customers will come for your service and stay for them and the ease of use.</p>
                </li>
                <li class="factCard fC2">
                    <i class="fas fa-code"></i>
                    <p class="factTitle">Web Development</p>
                    <p class="factDesc">Our programmers can provide you Web-ready applications, allowing you to reach more people with less effort.</p>
                </li>
                <li class="factCard fC3">
                    <i class="fas fa-paint-brush"></i>
                    <p class="factTitle">Fully customizable</p>
                    <p class="factDesc">In-House designers will allow you options to personalize your application's interface, making your service stand out from the crowd.</p>
                </li>
            </ul>
        </div>
    </section>
    <section id="ourTeam">
        <div id="teamTitle">Our Team</div>
        <div id="members">
            <ul id="teamCont">
                <li class="teamCard">
                    <img src="../../Content/imgs/fotoCarlos.jpg" class="memberPic">
                    <p class="memberTitle">Carlos Rodríguez</p>
                    <p class="memberSubTitle">Coordinator</p>
                </li>
                <li class="teamCard">
                    <img src="../../Content/imgs/Minor_Obando.jpeg" class="memberPic">
                    <p class="memberTitle">Minor Obando</p>
                    <p class="memberSubTitle">Support</p>
                </li>
                <li class="teamCard">
                    <img src="../../Content/imgs/foto_stuart.jpg" class="memberPic">
                    <p class="memberTitle">Stuart Libby</p>
                    <p class="memberSubTitle">Development</p>
                </li>
            </ul>
            <ul id="teamCont2">
                <li class="teamCard tc-sl1">
                    <img src="../../Content/imgs/foto_darren.jpeg" class="memberPic">
                    <p class="memberTitle">Darren Jiménez</p>
                    <p class="memberSubTitle">Quality I</p>
                </li>
                <li class="teamCard tc-sl2">
                    <img src="../../Content/imgs/jorgezuniga.jpg" class="memberPic">
                    <p class="memberTitle">Jorge Zúñiga</p>
                    <p class="memberSubTitle">Quality II</p>
                </li>
            </ul>
        </div>
    </section>
    <section id="contact">
        <div id="contactTitle">Contact Us</div>
        <div id="formBox">
            <form action="" id="ctcForm">
                <div>
                    <div class="formLbl">
                        <label for="nombre">Name*</label>
                    </div>
                    <input type="text" id="nombre" class="inputCtc txtIn">
                </div>
                <div>
                    <div class="formLbl">
                        <label for="email">Email*</label>
                    </div>
                    <input type="text" id="email" class="inputCtc txtIn">
                </div>
                <div class="formLbl">
                    <label for="mssgCntnt">Message</label>
                </div>
                <textarea name="messageCnt" id="mssgCntnt" cols="30" rows="10" class="inputCtc"></textarea>
                <div id="btnCont">
                    <button id="btnSend">Send Message</button>
                </div>
            </form>
        </div>
    </section>
    <footer id="fullFooter">
        <div id="logoContFooter">
            <div id="logoFoot"></div>
        </div>
        <div id="links">
            <a href="#proyects">Proyects</a>
            <a href="#aboutUs">About Us</a>
            <a href="#contact">Contact</a>
        </div>
        <div id="line"></div>
        <div id="copyright">
            <p>2021 ©techhouse. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>